/* MessageItem.css */

.message-item {
    display: inline-block;
    padding-top: 0.2rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    max-width: 60%;
    border-radius: 10px;
    margin-bottom: 1rem;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.message-item.me {
    background-color: #3f51b5;
    color: #fff;
    margin-left: auto;
    align-self: flex-end;
}

.message-item.other {
    background-color: #e0e0e0;
    color: #333;
    align-self: flex-start;
}

.timings {
    margin-left: 2px;
    font-weight: 100;
    font-size: x-small;
}