/* MessageList.css */

.message-list {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 1rem;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.no-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    height: 100%;
}